<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kmpclient"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        tools:replace="android:networkSecurityConfig"
        tools:ignore="MissingApplicationIcon">
    </application>

</manifest>
